<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> BranchOffice Management System </title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>

<div class="container my-2">
    <h1>Branches List</h1>

    <a th:href = "@{/branch/showNewBranchForm}" class="btn btn-primary btn-sm mb-3"> Add Branch </a>
    <table border="1" class = "table table-striped table-responsive-md">
        <thead>                                         <!-- table header -->
        <tr>                                            <!-- table row -->
            <th>Branch Name</th>                        <!-- table´s row header -->
            <th>Branch Country</th>
            <th>Branch Type</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="branch : ${branchesList}">          <!-- itera la lista de sucursales (branchesList) -->
            <!-- obtenemos "branchesList" del metodo  model.addAttribute("branchesList", branchService.getAllBranches());
             en el controlador -->
            <td th:text="${branch.branchName}"></td>
            <td th:text="${branch.branchCountry}"></td>
            <td th:text="${branch.branchType}"></td>

            <td>
                <a th:href="@{/branch/showFormForUpdate/{id}(id=${branch.pk_branchID})}" class="btn btn-primary">Update</a>
                <a th:href="@{/branch/delete/{id}(id=${branch.pk_branchID})}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>